.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}


.checkoutProduct__info > button:hover {
    filter: brightness(110%);
    cursor: pointer;
  }
  
  .checkoutProduct__info > button:active {
      box-shadow: 0 2px rgb(230, 230, 230);
      transform: translateY(2px);
      filter: brightness(95%);
  }
  
  .checkoutProduct__info > button:focus {
    outline: #f0c14b;
  }

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}